<!DOCTYPE html>
<html ng-app="AngularTest">
<head>
<meta charset="utf-8">
	<title>Request list</title>
	<script src="angular.min.js" ></script>
	<script src="angular-local-storage.min.js" ></script>
	<script src="controller.js" ></script>
	<link rel="stylesheet" type="text/css" href="style-admin.css">
</head>
<body ng-controller="AdminController">
	<h3>Request list</h3>

	<h5>

        <label>SEARCH: </label>
        <input type="text" ng-model="search" class="styleA"/>

        <!--
		{{"DATE:"}}
		<select ng-model="dateList" class="styleA">			
			<option value="-date">Newest</option>
    		<option value="date">Oldest</option>
		</select>-->
	</h5>

	<ul ng-repeat="request in requests |filter:search"  class="a"><!--|orderBy:dateList" class="a">-->

		<h3 style="font-family:courier">{{request.username}} </h3><!-- - {{request.date}} </h3>-->
		<strong>{{request.subject}}</strong> : {{request.message}}
	</ul>

</body>
</html>